### DATABASE BASICS

 ### Database tables creation

Patients Table

In [ ]:
CREATE TABLE patients (
    patient_id      INT PRIMARY KEY,
    first_name      VARCHAR(50),
    last_name       VARCHAR(50),
    dob             DATE,
    gender          VARCHAR(10),
    phone           VARCHAR(20),
    email           VARCHAR(100),
    address         TEXT,
    created_at      TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

INSERT INTO patients (patient_id, first_name, last_name, dob, gender, phone, email, address)
VALUES
(1, 'Riya', 'Shrestha', '1998-05-12', 'Female', '9812345678', 'riya@gmail.com', 'Kathmandu, Nepal'),
(2, 'Aarav', 'Khatiwada', '1995-11-02', 'Male', '9840011223', 'aarav@gmail.com', 'Lalitpur, Nepal'),
(3, 'John', 'Doe', '1988-02-20', 'Male', '9801122334', 'john.doe@gmail.com', 'Bhaktapur, Nepal');

Appointments table

In [ ]:
CREATE TABLE appointments (
    appointment_id  INT PRIMARY KEY,
    patient_id      INT,
    doctor_id       INT,
    appointment_date DATETIME,
    status          VARCHAR(20),
    FOREIGN KEY (patient_id) REFERENCES patients(patient_id)
);

INSERT INTO appointments (appointment_id, patient_id, doctor_id, appointment_date, status)
VALUES
(101, 1, 201, '2025-01-15 10:30:00', 'confirmed'),
(102, 2, 202, '2025-01-16 14:00:00', 'completed'),
(103, 3, 203, '2025-01-17 09:00:00', 'pending');

Encounters Table

In [ ]:
CREATE TABLE encounters (
    encounter_id    INT PRIMARY KEY,
    patient_id      INT,
    doctor_id       INT,
    visit_reason    TEXT,
    visit_type      VARCHAR(20),  -- OPD, IPD, ER
    visit_date      DATETIME,
    discharge_date  DATETIME NULL,
    notes           TEXT,
    FOREIGN KEY (patient_id) REFERENCES patients(patient_id)
);

INSERT INTO encounters (encounter_id, patient_id, doctor_id, visit_reason, visit_type, visit_date, discharge_date, notes)
VALUES
(501, 1, 201, 'Fever and cough', 'OPD', '2025-01-15 11:00:00', NULL, 'Suspected flu'),
(502, 2, 202, 'Chest pain', 'ER', '2025-01-16 14:30:00', '2025-01-16 18:00:00', 'ECG normal'),
(503, 3, 203, 'Headache', 'OPD', '2025-01-17 09:30:00', NULL, 'Advised rest');

Prescription table

In [ ]:
CREATE TABLE prescriptions (
    prescription_id INT PRIMARY KEY,
    encounter_id    INT,
    patient_id      INT,
    doctor_id       INT,
    created_at      TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (encounter_id) REFERENCES encounters(encounter_id),
    FOREIGN KEY (patient_id) REFERENCES patients(patient_id)
);

INSERT INTO prescriptions (prescription_id, encounter_id, patient_id, doctor_id)
VALUES
(9001, 501, 1, 201),
(9002, 502, 2, 202),
(9003, 503, 3, 203);

### SELECT operations

Select entire data from table

In [ ]:
select * from patients;
select * from appointments;
select * from encounters;
select * from prescriptions;

Select specific column from table

In [ ]:
Select patient_id, first_name, last_name from patients

Select using where clause

In [ ]:
Select * from patients where gender = 'Male';
Select * from encounters where visit_type = 'OPD';

Select using order by clause

In [ ]:
SELECT * FROM patients
ORDER BY dob ASC;

Select NULL value columns

In [ ]:
SELECT * FROM Encounters
where	discharge_date= Null

### Insert operation

Insert a column

In [ ]:
INSERT INTO patients (patient_id, first_name, last_name, dob, gender, phone, email, address)
VALUES (4, 'Sita', 'Maharjan', '2000-07-15', 'Female', '9811223344', 'sita@gmail.com', 'Bhaktapur, Nepal');

In [ ]:
INSERT INTO appointments (appointment_id, patient_id, doctor_id, appointment_date, status)
VALUES (104, 4, 204, '2025-01-20 11:00:00', 'confirmed');

In [ ]:
INSERT INTO encounters (encounter_id, patient_id, doctor_id, visit_reason, visit_type, visit_date, discharge_date, notes)
VALUES (504, 4, 204, 'Back pain', 'OPD', '2025-01-20 11:30:00', NULL, 'Prescribed physiotherapy');

### Update operation

update a single value

In [ ]:
UPDATE patients
SET phone = '9809988776'
WHERE patient_id = 4;

update multiple fields

In [ ]:
UPDATE patients
SET email = 'sita.new@gmail.com', address = 'New Baneshwor, Kathmandu'
WHERE patient_id = 4;

### Delete operation

delete a single row

In [ ]:
Delete from encounters where patient_id= '4'